extends template
mixin listitems(data)
  tr
    td= data.name
    td= data.price
    td= data.aFree
    td= data.sFree
    td= data.avabAmount
    td= data.sold

block content
  button restock
  button price change
  table
    tr
      th ItemName
      th Price
      th Afree
      th Sfree
      th AvabAmount
      th Sold
    each product in items
      +listitems(product)
